@import "../node_modules/patternfly/dist/sass/patternfly/_color-variables.scss";

@import "fonts";
@import "nav";
@import "typography";
@import "overrides";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  overflow-x: hidden;
}
.background-cover_home {
  background: url('../images/HomeDashboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 38px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.background-cover_spaceDashboard {
  background: url('../images/SpaceDashboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 38px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.background-cover_spaceSettings {
  background: url('../images/SpaceSettings.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 7px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.background-cover_backlog {
  background: url('../images/Planner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 5px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.background-cover_userSettings {
  background: url('../images/UserSettings.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 38px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.background-cover_create {
  background: url('../images/Create.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 8px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.background-cover_allSpaces {
  background: url('../images/ViewAllSpaces.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 38px;
  @media (max-width: 900px) {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.dropdown-menu,
.btn {
  font-size: $font-size-base !important;
}

a,
.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.input-group-addon_empty {
  background-color: transparent;
  border-color: transparent;
}

.animate {
  transition: all .3s ease;
}

.fa-flask {
  color: $color-pf-green;
}
